@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
*{
    margin: 0px;
}
.link-logo{
    display: flex;
    justify-content: center;
}
.logo{
    width: 100%;
}   

.panel{
    background-color: hsl(0, 0%, 10%);
    width: 14%;
    border-right: solid 1px hsl(0, 0%, 13%);
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10%;
}
.links{
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 80%;
    gap: 14%;
}
.link{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    padding-bottom: 12%;
    border-bottom: solid 1px rgb(56, 56, 56);
}